/* Для крупных экранов (настольные ПК) */
@media (min-width: 1200px) {
    .aboutMe {
        width: 820px;
        height: 700px;
        margin-left: 20px;
    }

    .aboutMeContainer {
        padding: 18px 54px 32px 73px;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 333px);
        grid-auto-rows: 175px;
        gap: 24px 27px;
    }
}

/* Для планшетов (до 1024px) */
@media (max-width: 1024px) {
    .aboutMe {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .aboutMeContainer {
        padding: 18px 40px 32px 40px;
    }

    .title h1 {
        font-size: 36px;
    }

    .line {
        margin-left: 10px;
        height: 1px;
    }

    .gridContainer {
        grid-template-columns: 1fr; /* Одна колонка */
        grid-auto-rows: auto;
        gap: 16px;
    }

    .gridItem {
        padding: 15px;
    }

    .gridItem h3 {
        font-size: 20px;
    }

    .gridItem p {
        font-size: 14px;
    }
}

/* Для телефонов (до 768px) */
@media (max-width: 768px) {
    .aboutMe {
        padding: 10px;
        width: 100%;
        height: auto;
    }

    .aboutMeContainer {
        padding: 10px 20px 20px 20px;
    }

    .title h1 {
        font-size: 28px;
    }

    .line {
        margin-left: 5px;
    }

    .description {
        font-size: 14px;
        line-height: 22px;
    }

    .skillsTitle {
        font-size: 24px;
        line-height: 30px;
    }

    .gridContainer {
        grid-template-columns: 1fr; /* Одна колонка */
        grid-auto-rows: auto;
        gap: 12px;
    }

    .gridItem {
        padding: 10px;
    }

    .gridItem h3 {
        font-size: 18px;
    }

    .gridItem p {
        font-size: 12px;
    }
}

/* Для маленьких экранов (до 480px) */
@media (max-width: 480px) {
    .aboutMe {
        padding: 5px;
    }

    .aboutMeContainer {
        padding: 5px 10px 10px 10px;
    }

    .title h1 {
        font-size: 24px;
    }

    .line {
        margin-left: 2px;
    }

    .description {
        font-size: 12px;
        line-height: 18px;
    }

    .skillsTitle {
        font-size: 20px;
        line-height: 26px;
    }

    .gridContainer {
        grid-template-columns: 1fr; /* Одна колонка */
        gap: 10px;
    }

    .gridItem h3 {
        font-size: 16px;
    }

    .gridItem p {
        font-size: 11px;
    }
}
