@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    /* background: #1f4075; */
    background: #F2F5F9;
    color: black;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.main {
    margin-top: 42px;
}

/* Адаптивные стили */

@media (min-width: 1024px) and (max-width: 1240px) {
    .wrapper {
        max-width: 90%;
        padding: 0 15px; /* Сохранение отступов */
    }

    .sidemenu {
        width: 300px; /* Немного уменьшаем ширину */
        margin-right: 20px; /* Отступ справа */
        float: left; /* Закрепляем слева */
    }

    .aboutMe {
        width: calc(100% - 340px); /* Рассчитываем ширину с учетом sidemenu */
        float: right; /* Закрепляем справа */
        height: auto; /* Автоматическая высота */
    }

    .panel {
        width: 320px; /* Уменьшение ширины панели */
        margin-left: auto;
        margin-right: 20px;
        height: auto; /* Автоматическая высота */
    }

    .main {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .main {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}
