@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background: #F2F5F9;
    color: black;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.main {
    margin-top: 42px;
}