.header_line {
    display: flex;
    margin-top: 18px;
    padding: 20px 0px;
}

.header_line .logo {
    padding-top: 11px;
}


.themeButton {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

.buttonImage {
    width: 56px;
    height: 56px;
}