.panel {
    margin-left: auto;
    width: 353px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    background: #F2F7FC;
}

.panelContent {
    display: flex;
    padding: 10px 32px 10px 31px; 
    justify-content: space-between; 
    align-items: center;
}

.panelElement {
    width: 80px;
    height: 80px;
    background: #E1E8EF;
    padding: 16px 22px 20px 21px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.panelElement:hover {
    transform: scale(1.1);
    background: #b3bbc4;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.panelContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.panelSubtitle {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/* Адаптивные стили */

/* panel.css */
@media (min-width: 1024px) and (max-width: 1240px) {
    .panel {
        width: 320px; /* Уменьшение ширины */
        margin-left: auto;
        height: auto;
    }

    .panelElement {
        width: 70px;
        height: 70px;
    }

    .panelSubtitle {
        font-size: 10px;
    }
}



@media (max-width: 1024px) {
    .panel {
        display: none; /* Скрываем панель на экранах с max-width 1024px */
    }
}

@media (max-width: 768px) {
    .panel {
        width: 100%;
    }

    .panelElement {
        width: 60px;
        height: 60px;
    }

    .panelSubtitle {
        font-size: 8px;
    }
}
