.resume {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    width: 820px;
    height: 700px;
    border-radius: 20px;
    background: #fff;
}

.resumeContainer {
    padding: 18px 54px 32px 73px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 40px;
    font-weight: 500;
    color: #0B0909;
    margin: 0;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #FF5E5E;
    margin-left: 20px;
}

.resumeSections {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    gap: 40px;
    margin-bottom: 40px;
}

.section {
    background-color: #F2F5F9;
    border: 1px solid rgb(255, 59, 59, .7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавим плавное изменение тени */
}

.section:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* При наведении увеличим тень */
    transform: rotateY(10deg) rotateX(5deg); /* 3D трансформация */
}

.sectionTitle {
    font-size: 24px;
    font-weight: 600;
    color: #FF3B3B;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sectionTitle .icon {
    margin-right: 10px;
}

.sectionContent .item {
    margin-bottom: 20px;
}

.sectionContent .item:last-child {
    margin-bottom: 0;
}

.date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.itemTitle {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.institution {
    font-size: 16px;
    color: #666;
}

.skillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    gap: 40px;
}

.skills {
    background-color: #F2F5F9;
    border: 1px solid rgb(255, 59, 59, .7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавим плавное изменение тени */
}

.skills:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* При наведении увеличим тень */
    transform: rotateY(10deg) rotateX(5deg); /* 3D трансформация */
}

.skillsTitle {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.skillsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skillItem {
    background-color: #E1E8EF;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d; 
}

.skillItem:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* При наведении увеличим тень */
    transform: rotateY(10deg) rotateX(5deg); /* 3D трансформация */
}

@media (min-width: 1024px) and (max-width: 1240px) {
    .resume {
        width: calc(100% - 340px); /* Уменьшение ширины с учетом боковой панели */
        margin-left: auto;
    }

    .resumeContainer {
        padding: 10px 20px;
    }

    .title h1 {
        font-size: 32px; /* Уменьшение размера заголовка */
    }

    .description {
        font-size: 16px;
        line-height: 24px;
    }

    .skillsTitle {
        font-size: 24px; /* Уменьшение заголовка секции навыков */
    }

    .skills {
        margin-top: 10px;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr); /* Адаптация сетки */
        gap: 15px; /* Уменьшенные отступы в сетке */
        margin: 10px;
        margin-top: 0;
        grid-auto-rows: minmax(200px, auto); /* Увеличенная минимальная высота строк */
    }

    .gridItem {
        padding: 18px;
        border-radius: 10px;
        min-height: 150px; /* Увеличенная минимальная высота для элементов только в этом диапазоне */
    }

    .gridItem h3 {
        font-size: 16px;
    }

    .gridItem p {
        margin-top: 6px;
        font-size: 11px;
        line-height: 18px;
    }
}

@media (max-width: 1024px) {
    .resume {
        width: 100%; /* Уменьшенная ширина с учетом отступов */
        margin: 10px 0;
        height: auto; /* Высота подстраивается по содержимому */
    }

    .resumeContainer {
        padding: 10px;
    }

    .title h1 {
        font-size: 32px; /* Уменьшенный размер шрифта */
    }

    .skillsTitle {
        font-size: 24px; /* Уменьшенный размер шрифта */
    }

    .gridContainer {
        gap: 15px 15px; /* Уменьшенные отступы в сетке */
    }
}

@media (max-width: 768px) {
    .resume {
        width: 100%; /* Ширина 100% для мобильных */
        margin: 0 auto; /* Центрирование */
    }

    .resumeContainer {
        padding: 10px; /* Уменьшенные отступы */
    }

    .title h1 {
        font-size: 24px; /* Меньший размер заголовка */
    }

    .resumeSections {
        grid-template-columns: 1fr; /* Одноколоночная структура */
        gap: 20px; /* Уменьшенные отступы */
    }

    .section {
        padding: 15px; /* Уменьшенные паддинги */
    }

    .sectionTitle {
        font-size: 18px; /* Меньший размер заголовка */
    }
}

@media (max-width: 768px) and (min-width: 650px) {
    .resume {
        margin-top: 10px; /* Добавляем отступ сверху для экрана от 650px до 768px */
    }
}

@media (max-width: 650px) {
    .resumeSections {
        grid-template-columns: 1fr; /* Устанавливаем одну колонку вместо двух */
        gap: 20px 0; /* Отступы между секциями */
    }

    .skillsSection {
        grid-template-columns: 1fr; /* Одноколоночная сетка */
        gap: 20px; /* Уменьшенные отступы в сетке */
    }

    .gridItem {
        width: 100%; /* Ширина 100% для всех элементов грида */
    }
}

  

@media (max-width: 480px) {
    .resume {
        width: 100%;
    }

    .resumeContainer {
        padding: 5px;
    }

    .title h1 {
        font-size: 20px; /* Меньший размер шрифта для очень маленьких экранов */
    }

    .section {
        padding: 10px; /* Ещё меньше отступы */
    }

    .sectionTitle {
        font-size: 16px;
    }
}